x<!DOCTYPE HTML>
<html>
<head>
<title>Compare Cabs - Uber vs Ola</title>
<!-- Custom Theme files -->
<link rel='stylesheet' type='text/css' media='all' href = "{{url_for('static', filename = 'css/style.css') }}"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCHBR8PagCIe0EAKVdx1SzOfKunYehjSzU"></script>
<script src="{{url_for('static', filename='/../js/userDestination.js')}}"></script>
<body>


<!--search start here-->
<div class="search">
	<i> </i>
	<div class="s-bar">
	    <form action="http://127.0.0.1:5000/result" method = "POST"> 
		<input name = 'text' id="locationField" type="text" size="50" placeholder="Enter Destination">
		<input type="submit"  name = "formThing" value="Search"/>
	    </form>
	</div>
</div>

<!--search end here-->	
<div class="copyright">
	 <p>2017 Compocabs All rights reserved | Template by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>	
</body>
</html>